// Copyright 2023 BlueCat Networks Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.
@import '~@bluecateng/pelagos/less/spacing';
@import '~@bluecateng/pelagos/less/fonts';

.Card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: @sp-16;
    text-decoration: none;
    background-color: var(--layer);

    &__title {
        @heading-01();
        line-height: @sp-32;
        width: 184px;
        text-align: left;
        text-decoration: none;
        margin-bottom: @sp-08;
    }

    &__description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        @body-01();
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: @sp-16;
    }

    &__arrowRight {
        color: var(--icon-interactive);
    }

    &__iconContainer {
        display: flex;
        align-items: end;
    }

    &:hover {
        background-color: var(--layer-hover);
    }
    &:active {
        background-color: var(--layer-active);
    }
}
