name: Jest
run-name: ${{ github.actor }} is running Jest check on code
on:
  push:
    branches:
      - '*'
  pull_request:
    types:
      - opened
      - reopened
    branches:
      - '*'

permissions: read-all
jobs:
    test:
        name: Running Jest test cases
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # tag=v4.1.0

            - name: Setup node
              uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # tag=3.8.1
              with:
                  node-version: 18

            - name: Run Jest tests
              run: |
                  npm ci
                  npm run test-ci

            - name: Code coverage threshold not met
              run: |
                  echo "Looks like the new changes are not meeting the code coverage threshold."
                  echo "View the code coverage details in the previous step."
                  echo "For a more detailed view of the reports run npm run test-ci locally."
                  echo "This will produce a detailed HTMl report, which will be present at coverage/src/index.html."
              if: failure()
